# Performance measured in Decision Tree Regressor.

In [1]:
# Importing the libraries.
import pandas as pd
import numpy as np

In [2]:
# Load the Dataset.
data = pd.read_csv('Dataset.csv')

In [3]:
data.head()

         Date   Open   High    Low  Close  Adj Close     Volume
0  28-06-2010  3.800  6.084  3.508  3.840      3.840  246560000
1  05-07-2010  4.000  4.000  2.996  3.480      3.480  127753000
2  12-07-2010  3.590  4.300  3.380  4.128      4.128   77194500
3  19-07-2010  4.274  4.450  3.900  4.258      4.258   35878500
4  26-07-2010  4.300  4.300  3.910  3.988      3.988   15260000

In [4]:
df = data.dropna()

In [5]:
# Delete the Columns.
del df['Date']
del df['Adj Close']

In [6]:
df.head()

    Open   High    Low  Close     Volume
0  3.800  6.084  3.508  3.840  246560000
1  4.000  4.000  2.996  3.480  127753000
2  3.590  4.300  3.380  4.128   77194500
3  4.274  4.450  3.900  4.258   35878500
4  4.300  4.300  3.910  3.988   15260000

In [7]:
df.shape

(608, 5)

In [8]:
df.info

<bound method DataFrame.info of             Open         High         Low       Close     Volume
0       3.800000     6.084000    3.508000    3.840000  246560000
1       4.000000     4.000000    2.996000    3.480000  127753000
2       3.590000     4.300000    3.380000    4.128000   77194500
3       4.274000     4.450000    3.900000    4.258000   35878500
4       4.300000     4.300000    3.910000    3.988000   15260000
..           ...          ...         ...         ...        ...
603  1026.609985  1070.790039  940.500000  943.900024  105363500
604   904.760010   987.690002  792.010010  846.349976  208309200
605   872.710022   943.700012  862.049988  923.320007  132213500
606   923.789978   947.770020  850.700012  860.000000  103196000
607   861.570007   898.880005  853.150024  875.760010   22585500

[608 rows x 5 columns]>

In [9]:
# Display the Dataset in stastical perspective.
df.describe()

              Open         High          Low        Close        Volume
count   608.000000   608.000000   608.000000   608.000000  6.080000e+02
mean    131.854122   140.089835   124.765849   132.822142  1.510910e+08
std     241.085132   256.121627   227.391014   242.137560  1.210761e+08
min       3.590000     3.918000     2.996000     3.480000  6.473000e+06
25%      19.031000    20.275500    17.390000    19.518000  6.656125e+07
50%      46.310000    48.312000    44.451000    46.396999  1.322868e+08
75%      67.497503    70.415001    64.464002    67.118000  1.992209e+08
max    1162.329956  1243.489990  1118.660034  1222.089966  1.066860e+09

In [10]:
X = df.drop(labels='Close', axis=1)
#Response variable
y = df.loc[:,'Close']

In [11]:
X

            Open         High         Low     Volume
0       3.800000     6.084000    3.508000  246560000
1       4.000000     4.000000    2.996000  127753000
2       3.590000     4.300000    3.380000   77194500
3       4.274000     4.450000    3.900000   35878500
4       4.300000     4.300000    3.910000   15260000
..           ...          ...         ...        ...
603  1026.609985  1070.790039  940.500000  105363500
604   904.760010   987.690002  792.010010  208309200
605   872.710022   943.700012  862.049988  132213500
606   923.789978   947.770020  850.700012  103196000
607   861.570007   898.880005  853.150024   22585500

[608 rows x 4 columns]

In [12]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Implementing Decision tree regressor

In [13]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error, mean_squared_error, median_absolute_error, explained_variance_score, r2_score

Training

In [14]:
DT= DecisionTreeRegressor()

DT.fit(X_train,y_train)

predictD = DT.predict(X_test)

Finding Mean absolute error

In [15]:
MAE= (mean_absolute_error(y_test,predictD))
print("MEAN_ASBOLUTE_ERROR:", MAE)
print("")

MEAN_ASBOLUTE_ERROR: 4.062514262295081

In [16]:
MAPE = (mean_absolute_percentage_error(y_test,predictD))
print("MEAN ABSOLUTE PERCENTAGE ERROR :", MAPE)
print('')

MEAN ABSOLUTE PERCENTAGE ERROR : 0.04160659541589144

Find Mean squared error

In [17]:
MSE=(mean_squared_error(y_test,predictD))
print('MEAN SQUARED ERROR VALUE IS :',MSE)
print("")

MEAN SQUARED ERROR VALUE IS : 92.38788935604

Find Median absolute error

In [18]:
MedianAE=(median_absolute_error(y_test,predictD))
print('MEDIAN ABSOLUTE ERROR VALUE IS :',MedianAE)
print(" ")

MEDIAN ABSOLUTE ERROR VALUE IS : 1.0320019999999985

Find explained varience score

In [19]:
EVS=(explained_variance_score(y_test,predictD)*100)
print('EXPLAINED_VARIENCE_SCORE:',EVS)
print("")

EXPLAINED_VARIENCE_SCORE: 99.83279017515059

Find Accuracy Score

In [20]:
R2=(r2_score(y_test,predictD)*100)
print('Accuracy result of Decision Tree regressor is :',R2)
print("")

Accuracy result of Decision Tree regressor is : 99.83258573196214

In [21]:
import joblib
joblib.dump(DT, 'Dt.pkl')

['Dt.pkl']